body{
	background: url(668006.jpg) center fixed;
	background-size: cover;
	font-family: 'Pompiere';
}

h2, h3{
	color: #F35363;  
}

img{
	padding: 15px;
}

#hello{
	color: #F35363; 
	text-align: center;
}

#cont{
	margin: auto;
	margin-top: 50px;
	border-style: dashed;
	border-color: #F35363;
	background-color: powderblue;
	height: 400px;
	width: 900px;
}

#text{
	position: static;
	margin-left: 300px;
	width: 600px;
	text-align: justify;
}

#data{
	font-size: 15px;
	padding: 0px 45px;
}

#desc{
	font-size: 15px;
	padding: 0px 45px;
}

